[Unit]
Description=upsilon-custodian
After=network.target

[Service]
User=upsilon
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=upsilon-custodian
ExecStart=/usr/share/upsilon-custodian/app.py

[Install]
WantedBy=multi-user.target
